<div class="container">
  <div class="row my-5 justify-content-between">
    <div>
      <h1>Welcome, <%= @user.first_name %></h1>
      <p><strong class="orange">Your username:</strong> <%= @user.username %></p>
    </div>
    <%= link_to "Edit profile", edit_user_registration_path, class: "primary_button" %>
  </div>
  <div class="row my-5 py-4 flex-column">
    <h2>Your listings:</h2>
      <% if @user.listings.empty? %>
        <p>You haven't listed any games yet.</p>
      <% else %>
        <div class="listing-list">
          <% @user.listings.each do |listing| %>
            <div class="listing-item">
              <div class="listing-item-image">
              <% case listing.platform %>
                <% when "PC" %>
                  <%= image_tag 'pc-temp-tag.png', class: "console-tag" %>
                <% when "PS4" %>
                  <%= image_tag 'ps4-temp-tag.png', class: "console-tag" %>
                <% when "Xbox One" %>
                  <%= image_tag 'xboxone-temp-tag.png', class: "console-tag" %>
                <% when "Nintendo Switch" %>
                  <%= image_tag 'switch-temp-tag.png', class: "console-tag" %>
                <% end %>
                <a href="#"><img src="https://picsum.photos/75/95" class="rounded"></a>
              </div>
              <div class="listing-item-text">
                  <h3 class="orange"><%= link_to listing.game.title, listing_path(listing) %></h3>
                  <div class="listing-info"><p class='text_small'><strong>Platform</strong> <%= listing.platform %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre </strong><%= listing.game.genre %></p></div>
              </div>
              <div class="listing-item-buttons">
                <div><h2>£<%= listing.price %></h2><p class="text_small">per day</p></div>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <%= link_to listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="row my-5 py-4 flex-column">
    <h2>Your lends:</h2>
      <% if @lends.empty? %>
        <p>You haven't lent any games out yet.</p>
      <% else %>
        <div class="listing-list">
          <% @lends.each do |lend| %>
            <div class="booking-item">
              <div class="booking-item-image">
                <%= image_tag lend.listing.game.image, class: "console-tag" %>
                <a href="#"><img src="https://picsum.photos/200/100" class="rounded"></a>
              </div>
              <div class="booking-item-text">
                <h4><%= link_to lend.listing.game.title, rental_path(lend) %></h4>
                <div class="booking-info"><p class='text_small'><strong>Start Date</strong> <%= lend.start_date %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>End Date</strong> <%= lend.end_date %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Length of rental&nbsp;</strong> <%= lend.duration %> days</p></div>
                <p><strong>Lent to</strong> <%= link_to lend.user.username, user_path(lend.user) %></p>
                <p><strong>Total earnings</strong> $<%= lend.rental_fee %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="row my-5 py-4 flex-column">
    <h2>Your borrows:</h2>
    <% if @user.rentals.empty? %>
      <p>You haven't borrowed any games yet.</p>
    <% else %>
      <div class="listing-list">
        <% @user.rentals.each do |rental| %>
          <div class="booking-item">
            <div class="booking-item-image">
              <%= image_tag rental.listing.game.image, class: "console-tag" %>
              <a href="#"><img src="https://picsum.photos/200/100" class="rounded"></a>
            </div>
            <div class="booking-item-text">
              <h4><%= link_to rental.listing.game.title, rental_path(rental) %></h4>
              <div class="booking-info"><p class='text_small'><strong>Start Date</strong> <%= rental.start_date %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>End Date</strong> <%= rental.end_date %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Length of rental&nbsp;</strong> <%= rental.duration %> days</p></div>
              <p><strong>Borrowed from</strong> <%= link_to rental.listing.user.username, user_path(rental.listing.user) %></p>
              <p><strong>Total price</strong> $<%= rental.rental_fee %></p>
            </div>
          </div>        
        <% end %>
      </div>
    <% end %>
  </div>
</div>





