<div class="container">
  <div class="row my-5">
    <h1>Welcome, <%= @user.first_name %></h1>
  </div>
  <div class="row my-5 flex-column">
    <h2>Your listings:</h2>
    <div class="listing-list">
      <% @user.listings.each do |listing| %>
        <div class="listing-item">
          <div class="listing-item-image">
            <%= image_tag 'ps4-temp-tag.png', class: "console-tag" %>
            <a href="#"><img src="https://picsum.photos/75/95" class="rounded"></a>
          </div>
          <div class="listing-item-text">
              <h3 class="orange"><%= link_to listing.game.title, listing_path(listing) %></h3>
              <div class="listing-info"><p class='text_small'><strong>Platform</strong> Playstation 4 &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre</strong> Third Person</p></div>
          </div>
          <div class="listing-item-buttons">
            <div><h2>£<%= listing.price %></h2><p class="text_small">per day</p></div>
            <ul class="list-inline">
              <li class="list-inline-item">
                <%= link_to listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-5 flex-column">
    <h2>Your rentals:</h2>
    <% if @user.rentals.empty? %>
      <p>You haven't borrowed any games yet.</p>
    <% else %>
     <% @user.rentals.each do |rental| %>
        <%= link_to rental.listing.game.title, rental_path(rental) %>
        <p><strong>Borrowed from:</strong></p>
        <%= rental.listing.user.username %>
        <p><strong>Total price:</strong></p>
        <p>$<%= rental.rental_fee %></p>
      <% end %>

    <% end %>
  </div>
</div>





