<div class="container">
  <div class="row my-5 justify-content-between">
    <h1>Welcome, <%= @user.first_name %></h1>
    <%= link_to "Edit profile", edit_user_registration_path, class: "primary_button" %>
  </div>
  <div class="row my-5 flex-column">
    <h2>Your listings:</h2>
      <% if @user.listings.empty? %>
        <p>You haven't listed any games yet.</p>
      <% else %>
        <div class="listing-list">
          <% @user.listings.each do |listing| %>
            <div class="listing-item">
              <div class="listing-item-image">
              <% case listing.platform %>
                <% when "PC" %>
                  <%= image_tag 'pc-temp-tag.png', class: "console-tag" %>
                <% when "PS4" %>
                  <%= image_tag 'ps4-temp-tag.png', class: "console-tag" %>
                <% when "Xbox One" %>
                  <%= image_tag 'xboxone-temp-tag.png', class: "console-tag" %>
                <% when "Nintendo Switch" %>
                  <%= image_tag 'switch-temp-tag.png', class: "console-tag" %>
                <% end %>
                <a href="#"><img src="https://picsum.photos/75/95" class="rounded"></a>
              </div>
              <div class="listing-item-text">
                  <h3 class="orange"><%= link_to listing.game.title, listing_path(listing) %></h3>
                  <div class="listing-info"><p class='text_small'><strong>Platform</strong> <%= listing.platform %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre </strong><%= listing.game.genre %></p></div>
              </div>
              <div class="listing-item-buttons">
                <div><h2>£<%= listing.price %></h2><p class="text_small">per day</p></div>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <%= link_to listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="row my-5 flex-column">
    <h2>Your rentals:</h2>
    <% if @user.rentals.empty? %>
      <p>You haven't borrowed any games yet.</p>
    <% else %>
     <% @user.rentals.each do |rental| %>
        <%= link_to rental.listing.game.title, rental_path(rental) %>
        <p><strong>Borrowed from:</strong></p>
        <%= rental.listing.user.username %>
        <p><strong>Total price:</strong></p>
        <p>$<%= rental.rental_fee %></p>
      <% end %>

    <% end %>
  </div>
</div>





