<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="form-group p-5">
        <h1>Add a new Listing</h1>
        <!-- <form action="/gardens/:garden_id/plants" method="post"></form> -->
        <%= simple_form_for @listing do |f|  %>
          <% @listing.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
          <%= f.input :game_id, collection: Game.all %>
          <%= f.input :platform, collection: Listing::CONSOLES %>
          <!-- #javascript libary select2 -->
          <%= f.input :price, :label => "Price per day" %>
          <%= f.input :location %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
