<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>

<div class="container">
  <h1>@listing.game_id.titel</h1>
  <img src= <%= @listing.game.image %> alt="">
  <div class="listing-list">
    <div class="listing-item">
      <%= @listing.game.title %>
      <%= @listing.game.description %>
      <%= @listing.platform %>
      <%= @listing.price %>
      <%= @listing.location %>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="form-group p-5">
        <h1>Book your game</h1>
        <!-- <form action="/gardens/:garden_id/plants" method="post"></form> -->
        <%= simple_form_for [@listing, @rental] do |f|  %>
          <% @rental.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
          <%= f.input :start_date, as: :date , :label => "Start date", html5: true %>
          <%= f.input :end_date, as: :date, :label => "End date", html5: true %>
          <!-- #javascript libary select2 -->
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

