
<div class="container">
  <div class="row no-left-mg">
    <div class="col-md-5 col-lg-4 imagesize listing-item2 no-left-pd">
      <% case @listing.platform %>
      <% when "PC" %>
        <%= image_tag 'pc-temp-tag.png', class: "console-tag2" %>
      <% when "PS4" %>
        <%= image_tag 'ps4-temp-tag.png', class: "console-tag2" %>
      <% when "Xbox One" %>
        <%= image_tag 'xboxone-temp-tag.png', class: "console-tag2" %>
      <% when "Nintendo Switch" %>
        <%= image_tag 'switch-temp-tag.png', class: "console-tag2" %>
      <% end %>
      <% if @listing.photo.present? %>
        <%= cl_image_tag @listing.photo, class: "game_image fit-image" %>
      <% else %>
        <img class="game_image fit-image" src= <%= @listing.game.image %> alt="">
      <% end %>

    </div>
    <div class="col-md-7 col-lg-8 ">
      <h2><%= @listing.game.title %></h2>
      <h5>Description</h5>
      <p><%= @listing.game.title %><%= @listing.game.description %></p>
      <h5>Platform</h5>
      <%= @listing.platform %>
      <h5>Lender</h5>
      <%= link_to @listing.user.username, user_path(@listing.user) %>
      <h5>Location</h5>
      <%= @listing.location %>
      <br><br><br>
      <h3>Price per day: <h3 id="price"><%= @listing.price %></h3></h3>
    </div>
  </div>
  <div class="col-12 my-4 bookcard">

    <div class="form-group py-5">
      <h3>Book your game</h3>
      <div id='listing-booking-dates' data-unavailable="<%= @listing.unavailable_dates.to_json %>">
          <% if user_signed_in? %>
            <% if current_user.id != @listing.user_id  %>
              <%= simple_form_for([@listing, @rental]) do |f| %>
                <% @rental.errors.full_messages.each do |message| %>
                  <%= message %>
                <% end %>
                <div class = "date-sbs">
                  <%= f.input :start_date, as: :string, type: :text, input_html: {value: @today} %>
                  <%= f.input :end_date, as: :string, type: :text, wrapper_html: {class: 'ml-2'} %>
                </div>
                <h4>Total price:</h4><h4 id="total_price"></h4>
                <%= f.submit "Book", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% else %>
            <h3>Login to book</h3>
          <% end %>
      </div>
    </div>
  </div>
</div>





<%= javascript_pack_tag 'listing_show' %>
