<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>

<div class="container">
  <h1>@listing.game_id.titel</h1>
  <img src= <%= @listing.game.image %> alt="">
  <div class="listing-list">
    <div class="listing-item">
      <%= @listing.game.title %>
      <%= @listing.game.description %>
      <%= @listing.game.platform %>
      <%= @listing.price %>
      <%= @listing.location %>
    </div>
  </div>

</div>

