
<div class="container my-5">
  <div class="row no-left-mg">
    <div class="col-md-4 col-lg-3 imagesize listing-item2 no-left-pd selected-card py-0">
      <% case @listing.platform %>
      <% when "PC" %>
        <%= image_tag 'pc-temp-tag.png', class: "console-tag2" %>
      <% when "PS4" %>
        <%= image_tag 'ps4-temp-tag.png', class: "console-tag2" %>
      <% when "Xbox One" %>
        <%= image_tag 'xboxone-temp-tag.png', class: "console-tag2" %>
      <% when "Nintendo Switch" %>
        <%= image_tag 'switch-temp-tag.png', class: "console-tag2" %>
      <% end %>
      <% if @listing.photo.present? %>
        <%= cl_image_tag @listing.photo, class: "game_image fit-image" %>
      <% else %>
        <img class="game_image fit-image" src= <%= @listing.game.image %> alt="">
      <% end %>
    </div>

    <div class="col-md-4 col-lg-6 selected-card pt-2 position-relative mh-100">
      <h2><%= @listing.game.title %></h2>
      <h5 >Description</h5>
      <p class = "mb-2"><%= @listing.game.title %><%= @listing.game.description.truncate(150) %></p>
      <h5>Platform</h5>
      <p class = "mb-2"><%= @listing.platform %>  </p>
      <h5>Lender</h5>
      <p class = "mb-2"><%= link_to @listing.user.username, user_path(@listing.user) %></p>
      <h5>Location</h5>
      <p class = "mb-2" ><%= @listing.location %></p>
      <br>
      <h3 class = "position-abosulte bottom0">Price per day:  $<span id="price"><%= @listing.price %></span></h3>
    </div>

      <% if user_signed_in? %>
        <% if current_user.id != @listing.user_id  %>
        <div class="col-md-4 col-lg-3 bookcard">
          <div class="form-group py-2">
            <h3>Book your game</h3>
            <div id='listing-booking-dates' data-unavailable="<%= @listing.unavailable_dates.to_json %>">
              <%= simple_form_for [@listing, @rental] do |f| %>
                <% @rental.errors.full_messages.each do |message| %>
                  <%= message %>
                <% end %>
                <div class = "date-sbs">
                  <%= f.input :start_date, as: :string, type: :text, input_html: {value: @today} %>
                  <%= f.input :end_date, as: :string, type: :text, wrapper_html: {class: 'ml-2'} %>
                </div>
                <h4>Total price:</h4><h4 id="total_price"></h4>
                <%= f.submit "Book", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="col-md-4 d-flex col-lg-3 bookcard position-relative">
            <div class = "mx-auto d-flex justify-content-around align-items-center position-abosulte top-right">
            <%= link_to edit_listing_path(@listing) do %>
                      <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to listing_path(@listing), method: :delete, data: { confirm: 'Are you sure you want to remove this listing?' } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
          </div>
        <% end %>
      <% else %>
          <div class="col-md-4 col-lg-3 bookcard">
          <h3>Sign in to book</h3>
      <% end %>
    </div>
  </div>
</div>





<%#= javascript_pack_tag 'listing_show' %>
