<div class="container">
  <div class="listing-list-selected listing-list-gray container">
    <h1 class = gray>Rental Details</h1>
    <div class="listing-item-selected bottom-margin-50">
      <div class="listing-item-image">
        <% case @rental.listing.platform %>
        <% when "PC" %>
          <%= image_tag 'pc-temp-tag.png', class: "console-tag" %>
        <% when "PS4" %>
          <%= image_tag 'ps4-temp-tag.png', class: "console-tag" %>
        <% when "Xbox One" %>
          <%= image_tag 'xboxone-temp-tag.png', class: "console-tag" %>
        <% when "Nintendo Switch" %>
          <%= image_tag 'switch-temp-tag.png', class: "console-tag" %>
        <% end %>
        <img src=<%= @rental.listing.game.image %> class="rounded">
      </div>
      <div class="listing-item-text">
        <h3 class="orange"><%=@rental.listing.game.title %></h3>
        <div class="listing-info"><p class='text_small'><strong>Platform</strong> <%= @rental.listing.platform %> &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre</strong> Third Person</p></div>
        <p><strong>Rental from <%= @rental.start_date %> until <%= @rental.end_date %></strong></p>
        <p><strong>Borrowed by</strong> <%= link_to @rental.user.username, user_path(@rental.user), class: "orange" %></p>
        <p><strong>Lent by</strong> <%= link_to @rental.listing.user.username, user_path(@rental.listing.user), class: "orange" %></p>
        <p></p>
      </div>
      <div class="listing-item-buttons">
        <div><h2 class="orange">$<%= @rental.rental_fee %></h2><p class="text_small">Total rental fee</p></div>
        <ul class="list-inline hidden">
          <li class="list-inline-item"><i class="fa fa-heart"></i></li>
          <li class="list-inline-item"><i class="fa fa-share"></i></li>
          <li class="list-inline-item"><i class="fa fa-star"></i></li>
        </ul>
      </div>
    </div>
    <% if current_user != @rental.listing.user %>
      <div class="form-group p-5 rating_card gray">
        <h3>Review the rental experience with <%= @rental.listing.user.username %></h3>
        <%= simple_form_for [@rental, @review] do |f|  %>
          <% @review.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
          <%= f.input :rating, collection: [1,2,3,4,5],as: :radio_buttons, wrapper: :vertical_collection_inline %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




