<div class="container">
  <div class="row home-section">
    <div class="col-12">
      <div class="banner">
        <h1>Borrow, lend, share.</h1>
        <p>A place for gamers to play more with less.</p>
        <div class="search">
          <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
            <%= f.input :name, label: false, placeholder: "search for games", input_html: {value: "", style: 'width: 275px'} %>
            <%= f.submit "Search", class: "btn btn-primary search-submit" %>
          <% end %>
        </div>
      </div>
      <div class="col-12">
        <div class="card-group games-list">
          <% @listings.each do |listing| %>
            <%= link_to listing_path(listing) do %>
              <div class="game-card">
                <div class="game-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= listing.game.image %>)">
                </div>
                <h5><%= listing.game.title %></h5>
                <p class="orange" id="lend-from"><strong>Lend from</strong></p>
                <p><%= listing.user.username %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section home-section-2">
    <h2>How it works</h2>
    <div class="card-group">
      <div class="card text-center home-card">
        <i class="fas fa-list-ol orange"></i>
        <div class="card-body">
          <h5 class="card-title">List your games for others</h5>
          <p class="card-text">Advertise your game collection so others can borrow your games and you can get some extra cash back.</p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-retweet orange"></i>
        <div class="card-body">
          <h5 class="card-title">Borrow games from other members</h5>
          <p class="card-text">Look through the communities catalog to find titles you want to play, for less.</p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-gamepad orange"></i>
        <div class="card-body">
          <h5 class="card-title">Play more for less!</h5>
          <p class="card-text">Start playing more games for less! Join a growing community of sharing gamers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>