<div class="row home-section">
  <div class="col-12">
    <div class="banner">
      <h1>Borrow, lend, share.</h1>
      <p>A place for gamers to play more with less.</p>
      <div class="home-search">
        <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline home-search' } do |f| %>
          <%= f.input :name, label: false, placeholder: "search for games", input_html: {value: "", class: "home-search-bar ui-autocomplete-input"} %>
          <%= f.input :platform, placeholder: "filter by console", collection: Listing::CONSOLES, input_html: {class: "home-search-platform"} %>
          <%= f.submit "Search", class: "btn btn-primary search-submit mx-auto" %>
        <% end %>
      </div>
    </div>

    <div class="home_carousel">
      <div class="carousel__inner">
        <% @listings.each do |listing| %>
            <div class="tile">
              <%= link_to listing_path(listing) do %>
              <div class="tile__media">
                <img class="tile__img" src="<%= listing.game.image %>" alt=""  />
              </div>
              <div class="tile__details">
                <div class="tile__title">
                  <h5><%= listing.game.title %></h5>
                  <p class="orange" id="lend-from"><strong>Lend from</strong></p>
                  <p><%= listing.user.username %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="home-section home-section-2">
    <h2>How it works</h2>
    <div class="card-group">
      <div class="card text-center home-card">
        <i class="fas fa-list-ol orange"></i>
        <div class="card-body">
          <h5 class="card-title">List your games for others</h5>
          <p class="card-text">Advertise your game collection so others can borrow your games and you can get some extra cash back.</p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-retweet orange"></i>
        <div class="card-body">
          <h5 class="card-title">Borrow games from other members</h5>
          <p class="card-text">Look through the communities catalog to find titles you want to play, for less.</p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-gamepad orange"></i>
        <div class="card-body">
          <h5 class="card-title">Play more for less!</h5>
          <p class="card-text">Start playing more games for less! Join a growing community of sharing gamers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>